html,
body {
  box-sizing: content-box;
  font-size: 12px;
  background: lightblue;
}
.app {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 2rem;
}
.home {
  width: 90%;
  height: 90%;
  padding: 2.5rem 0;
  border: 1px solid black;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &__heading {
    text-decoration: underline;
  }
  background: #ff6e7f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #bfe9ff,
    #ff6e7f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bfe9ff,
    #ff6e7f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.converter-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 1.5rem;
  padding: 2rem;
  background: #ff6e7f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #bfe9ff,
    #ff6e7f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #bfe9ff,
    #ff6e7f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .converter {
    display: flex;
    justify-content: center;
    input {
      border: 1px solid #000;
      width: 200px;
      font-size: 20px;
      padding: 0.75rem;
      border-radius: 0.5rem;
    }

    &__amount {
      margin-right: 2rem;
    }
  }
}

.flip {
  margin: 0 2rem;
  width: 3rem;
  height: 3rem;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px gray;
  &::before {
    content: "\2194";
  }
  // &:hover {
  //   transform: translateY(-0.1rem);
  // }
  &:active {
    transform: translateY(0.1rem);
  }
}

.table {
  text-align: center;
  height: 50rem;
  width: 100%;
  overflow: scroll;
  tr {
    height: 10%;
  }
}

.datePicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
}

.search-bar {
  width: 30rem;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

.filters {
  height: 5rem;
  margin-top: 2rem;

  .btn {
    width: 15rem;
  }
}

.heading-1 {
  text-decoration: underline;
}
